<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game World : 카드 짝 맞추기</title>
    <meta name="description" content="Vanilla JS를 이용한 Mini Game Project - 카드 짝 맞추기">
    <link rel="icon" type="image/x-ico" href="./resources/favicon/favicon.ico" th:href="@{/resources/favicon/favicon.ico}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common/styles.css}" href="./css/common/styles.css">
    <link rel="stylesheet" th:href="@{/css/game-cm.css}" href="./css/game-cm.css">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
    <div id="container" class="no-drag">
        <div class="board">
            <header class="menu">
                <nav class="menu__nav">
                    <div class="menu__nav-time">
                        <strong id="player-time" class="blink" aria-label="남은 시간"></strong>
                    </div>
                    <div class="menu__nav-stage">
                        STAGE<strong id="player-stage" aria-label="스테이지"></strong>
                    </div>
                    <div class="menu__nav-home">
                        <a href="../index.html#card-matching" th:href="@{/king}" class="menu__nav-home--button" id="home-button">
                            <span class="sr-only">메인 페이지로 이동</span>
                        </a>
                    </div>
                    <div class="menu__nav-rank">
                        <a href="../index.html#card-matching" th:href="@{/king/king-card/ranks}" class="menu__nav-rank--button" id="rank-button">
                            <span class="sr-only">랭크 페이지로 이동</span>
                        </a>
                    </div>
                </nav>
            </header>

            <main class="game">
                <div class="game__board">
                </div>
            </main>

            <div class="stage-clear"></div>
        </div>

        <div class="modal modal-layer">
            <form id="card-save" th:action th:object="${saveCardForm}" method="post">
            <div class="modal__content">
                <div class="modal__content-title">
                </div>
                <label for="userName">
                    <input class="white-input form-control"
                           type="text"
                           id="userName"
                           th:field="*{userName}"
                           placeholder="닉네임을 입력하세요" />
                </label>
                <div class="white-input form-control field-error" th:errors="*{userName}">
                    가격 오류
                </div>
                <label for="level">
                    <input type="hidden"
                           id="level"
                           th:field="*{level}" />
                </label>

                <button class="white-button history-save-button" type="submit">
                    기록 저장
                </button>

                <button class="white-button modal__content-close-button" type="button"
                        th:onclick="|location.href='@{/king}'|">
                    닫기
                </button>
            </div>
            </form>
        </div>
    </div>
    <script src="./js/game-cm.js" th:src="@{/js/game-cm.js}"></script>
    <script>
        // 폼 제출 시 히든 필드를 업데이트하는 함수
        function updateHiddenFieldWithStage() {
            // #stage-card-level 요소를 가져옵니다.
            var stageCardLevelElement = document.getElementById('stage-card-level');

            // 요소에서 'STAGE ' 뒤의 값을 추출합니다.
            var stageText = stageCardLevelElement.textContent;
            var stageValue = stageText.split('STAGE ')[1].trim();

            // 히든 input의 value를 업데이트합니다.
            document.getElementById('level').value = stageValue;
        }

        // 폼 제출 이벤트 리스너 추가
        document.getElementById('card-save').addEventListener('submit', function(event) {
            // 히든 필드를 업데이트합니다.
            updateHiddenFieldWithStage();
            // 폼 제출이 발생합니다.
        });
    </script>
</body>
</html>