<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game World : 카드 짝 맞추기</title>
    <meta name="description" content="Vanilla JS를 이용한 Mini Game Project - 카드 짝 맞추기">
    <link rel="icon" type="image/x-ico" href="./resources/favicon/favicon.ico" th:href="@{/resources/favicon/favicon.ico}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common/styles.css}" href="./css/common/styles.css">
    <link rel="stylesheet" th:href="@{/css/game-cm.css}" href="./css/game-cm.css">
</head>
<body>
<div>랭킹 페이지 입니다.</div>
</body>
</html>